{% extends "home.html" %}

{% block content %}
        <!-- Posts  -->
        <ul>
            {% for post in post_list %}
                <div class="title">
                    <h2>
                        <a href="{% url singlepost post.pk %}">{{ post.title }}</a>
                    </h2>
                </div>
                <ul>
                    <div class="time">posted by {{ post.author }} on {{ post.created }}</div>
                    <div class="body">{{ post.body|linebreaks }}</div>
                    <div class="commentlink">
                    <a href="{% url singlepost post.pk %}">Comments ({{ post.comment_set.count }})</a>
                </div>
                </ul>
            {% endfor %}
        </ul>

        <!-- Next/Prev page links  -->
        {% if is_paginated %}
        <div class="pagination" style="margin-top: 20px; margin-left: -20px; ">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href= "?page={{ page_obj.previous_page_number }}">newer entries &lt;&lt; </a>
                {% endif %}

                <span class="current">
                    &nbsp;Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}"> &gt;&gt; older entries</a>
                {% endif %}
            </span>
        </div>
        {% endif %}

    </div>
{% endblock %}